In [2]:
import utils
import pandas as pd 
df_cc = utils.load_csv('data.csv', ['rater1', 'rater2', 'yellowReds', 'redCards', 'games'])
print(df_cc)
df_cc.drop(df_cc[df_cc['games']==0].index)

        rater1  rater2  yellowReds  redCards  games
0         0.25    0.50           0         0      1
1         0.75    0.75           0         0      1
2          NaN     NaN           0         0      1
3          NaN     NaN           0         0      1
4          NaN     NaN           0         0      1
...        ...     ...         ...       ...    ...
146023    0.00    0.00           0         0      1
146024    0.25    0.50           0         0      1
146025    0.25    0.25           0         0      1
146026    0.50    0.50           0         0      1
146027    0.00    0.25           0         0      1

[146028 rows x 5 columns]

        rater1  rater2  yellowReds  redCards  games
0         0.25    0.50           0         0      1
1         0.75    0.75           0         0      1
2          NaN     NaN           0         0      1
3          NaN     NaN           0         0      1
4          NaN     NaN           0         0      1
...        ...     ...         ...       ...    ...
146023    0.00    0.00           0         0      1
146024    0.25    0.50           0         0      1
146025    0.25    0.25           0         0      1
146026    0.50    0.50           0         0      1
146027    0.00    0.25           0         0      1

[146028 rows x 5 columns]